{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"> 
  
   <head>

    {% block title %}
    {% endblock %}	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<!-- kendi css dosyam -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}"> 
  <script src="{% static 'js/tags.js' %}"></script>
  <script src="{% static 'js/autofill.js' %}"></script>
  
  {% block autocomplate %}
  {% endblock %}	

</head>
  
  <body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="/"><i class="fa fa-quora" aria-hidden="true"></i>uoraClone</a>
  
		<form method="GET" class="form-inline " action="{% url 'search' %}" >
		
			<input class="form-control " name="inputAra" type="search" placeholder="Ara...">
			<button class="btn btn-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i>Ara</button>
		</form>

		
			
		<ul class="navbar-nav ml-auto">
    
    {% if request.user.is_authenticated %}
      
		<!-- Dropdown -->
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle " href="#" id="navbardrop" data-toggle="dropdown"> <i class="fa fa-bell" aria-hidden="true"></i>Bildirimler</a>
      
		<div class="dropdown-menu ">
			{% block bildirim %}
			{% endblock %}
			<a class="dropdown-item" href="#">Link 1</a>
			<a class="dropdown-item" href="#">Link 2</a>
			<a class="dropdown-item" href="#">Link 3</a>
		</div>
    </li>	
    {% endif%}
		
		
		{% block session %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> <i class="fa fa-user" aria-hidden="true"></i>Kullanıcı Adı</a>
      
				<div class="dropdown-menu">
				
					<a class="dropdown-item" href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>login</a>
					<a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i>settings</a>
					<a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>logout</a>
				</div>
			</li>
		{% endblock %}
		</ul>
	 
  </nav>

{% block content %}
{% endblock %}
	
<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
          <h6>Ad</h6>
			<ul class="list-unstyled">
				<li>
                    Hakan Murat<br>
					Yavuz<br>
					Onur<br>
				</li>
				
			</ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
          <h6>Soyad</h6>
          <ul class="list-unstyled">
      
            <li>Aksüt</li>
            <li>Ünver</li>
            <li>Çevik</li>
          </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
          <h6>Numara</h6>
          <ul class="list-unstyled">
            <li>313979</li>
            <li>357398</li>
            <li>357402</li>
          </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
          <h6>Öğrenim</h6>
          <ul class="list-unstyled">
            <li>1.öğretim</li>
            <li>1.öğretim</li>
            <li>1.öğretim</li>
          </ul>  
      </div>
    </div>
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">Veritabanı Yönetim Sistemleri 2017-2018 Dönem Ödevi - Yrd.Doç.Dr.Güzin Ulutaş</p>
        </div>
      </div>
    </div>
  </div>
</footer>


</body>
</html>
