{% extends 'base.html' %}
{% load filters %}

{% block session %}
{% if request.user.is_authenticated %}
<li class="navbar-right nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i>{{request.user}}</a>

    <div class="dropdown-menu">
        <a class="dropdown-item" href="/newquestion"><i class="fa fa-question-circle" aria-hidden="true"></i>Yeni Soru</a>
        <a class="dropdown-item" href="/profil/{{request.user.id}}"><i class="fa fa-cog" aria-hidden="true"></i>Profil</a>
        <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Çıkış</a>
    </div>
</li>

{% else %}
<a class="navbar-brand" href="/new-account"><i class="fa fa-user-plus" aria-hidden="true"></i>Üye Ol</a>
<a class="navbar-brand" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Üye Girişi</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
	<h2 class="spacer"><i class="fa fa-question-circle-o" aria-hidden="true"></i>Güncel Sorular</h2>
	{% for i in questions %}
		<div class="card" >
			<div class="card-header ">
				<a href="/question/{{i.id}}">{{i.title}}</a>
				</div>
					<div class=row>
						<div class="col-md-1">
							<img class="image" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" height="60" width="60">
							<p class="text-center small">
						</div>
						<div class="col-md-5">
						                          
                            <p>{{i.user_id}}</p>
							<p class=text-muted small>
						</div>
						<div class="col-md-12">
							<p>Etiketler: 
								{% for j in i.tags.all %}
									{{j}},
								{% endfor %}
							</p>
							<p class="float-right">{{i|updown_question:0}} <i class="fa fa-thumbs-o-down" aria-hidden="true"></i></p>
							<p class="float-right">{{i|updown_question:1}} <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></p>	
						</div>
					</div>
        </div>
    {% endfor %}
	</div>
{% endblock %}