{% extends 'base.html' %}

{% block session %}
{% if request.user.is_authenticated %}
<li class="navbar-right nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">{{request.user}}</a>

    <div class="dropdown-menu">
        <a class="dropdown-item" href="/newquestion">Yeni Soru</a>
        <a class="dropdown-item" href="#">Ayarlar</a>
        <a class="dropdown-item" href="/logout">Sistemden Çıkış</a>
    </div>
</li>

{% else %}
<a class="navbar-brand" href="/new-account">Üye Ol</a>
<a class="navbar-brand" href="/login">Üye Girişi</a>
{% endif %}
{% endblock %}

{% block content %}
<form action='/login/' method="post">
    {% csrf_token %}
    <div class="container">
        <h2>Giriş</h2>
          <div class="form-group">
            <label for="email">Kullanıcı Adı:</label>
            <input type="text" class="form-control" id="id_kulad" name="kulad">
          </div>
          <div class="form-group">
            <label for="pwd">Parola:</label>
            <input type="password" class="form-control" id="id_parola" name="parola">
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>      
      </div>
</form>

{% endblock %}