
{% extends 'base.html' %}

{% block session %}
{% if request.user.is_authenticated %}
<li class="navbar-right nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">{{request.user}}</a>

    <div class="dropdown-menu">
        <a class="dropdown-item" href="/newquestion">Yeni Soru</a>
        <a class="dropdown-item" href="#">Ayarlar</a>
        <a class="dropdown-item" href="/logout">Sistemden Çıkış</a>
    </div>
</li>

{% else %}
<a class="navbar-brand" href="/new-account">Üye Ol</a>
<a class="navbar-brand" href="/login">Üye Girişi</a>
{% endif %}
{% endblock %}

{% block content %}
<form action='/newquestion/' method="post">
    {% csrf_token %}
    <datalist id="suggestions">
        {% for i in tags %}
            <option value={{i}}>        
        {% endfor %}
    </datalist>
    <div class="container">
        <h2>Ask Me</h2>
            <div class="form-group">
            <label for="question">What is your question?:</label>
            <input type="question" class="form-control" id="id_title" placeholder="Start your question with What,How,or Why" name="title">
            </div>
            <div class="form-group">
            <label for="etiket">Etiket:</label>
            <input type="etiket" class="form-control" id="etiket" placeholder="Enter Etiket" name="etiket">
            </div>
            
        <div class="modal-footer">
            <input type="hidden" name="isEmpty" value="">
            <button type="input" name="submit" value="newAccount" class="btn btn-success btn-icon"> Send </button>
        </div>
    </div>
</form>


{% endblock %}