	{% extends 'base.html' %}
	{% load filters %}
	
	
	{% block session %}
	{% if request.user.is_authenticated %}
	<li class="navbar-right nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i>{{request.user}}</a>
	
			<div class="dropdown-menu">
					<a class="dropdown-item" href="/newquestion"><i class="fa fa-question-circle" aria-hidden="true"></i>Yeni Soru</a>
					<a class="dropdown-item" href="/profil/{{request.user.id}}"><i class="fa fa-cog" aria-hidden="true"></i>Profil</a>
					<a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Çıkış</a>
			</div>
	</li>
	
	{% else %}
	<a class="navbar-brand" href="/new-account"><i class="fa fa-user-plus" aria-hidden="true"></i>Üye Ol</a>
	<a class="navbar-brand" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Üye Girişi</a>
	{% endif %}
	{% endblock %}
	
	{% block content %}

	<div class="col-md-1 profil1">
		
		<img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="100" height="100"
		<p class="text-center small">
	</div>
	<div class="col-md-5 profil1">
			<p><i class="fa fa-user" aria-hidden="true"></i> Kullanıcı Adı: {{user}}</p>
			<p><i class="fa fa-user" aria-hidden="true"></i> İsim: {{user.first_name}}</p>
			<p><i class="fa fa-user" aria-hidden="true"></i> Soyisim: {{user.last_name}}</p>
			<p><i class="fa fa-user" aria-hidden="true"></i> Mail: {{user.email}}</p>			
			
			<p class=text-muted small>
		<span><i class="fa fa-star-o" aria-hidden="true"></i> Puan {{user|calculate_score}}</span>
	</div>
	<div class="col-md-12 profil1">
	
	<!-- yatay cizgi -->
	<hr width="100%" color=green size="2">
	
				

	<div class="col-md-3 profil2">
		<h3 ><i class="fa fa-question-circle" aria-hidden="true"></i>Sorularım: <span class="glyphicon glyphicon-triangle-bottom"></span></h3>
		
		{% for i in question %}
		<p ><a href="/question/{{i.id}}"> {{i.title}} </a> <span class="glyphicon glyphicon-triangle-top"></span></p>
		{% endfor %}
	</div>	
		
	<div class="col-md-3 profil2">
		<h3 ><i class="fa fa-reply-all" aria-hidden="true"></i>Cevaplarım: <span class="glyphicon glyphicon-triangle-bottom"></span></h3>
		
		{% for i in answer %}
		<p ><a href="/question/{{i.question_id.id}}"> Soru Başlığı: {{i.question_id}} <br/> {{i.context|safe}}</a> <span class="glyphicon glyphicon-triangle-top"></span></p>
		<hr width="100%" color=green size="2">
		{% endfor %}
	</div>	

	{% endblock %}
							
							
	<footer class="mainfooter" role="contentinfo">

  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
          <h6>Ad</h6>
			<ul class="list-unstyled">
				<li>
                    Hakan Murat<br>
					Yavuz<br>
					Onur<br>
				</li>
				
			</ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
          <h6>Soyad</h6>
          <ul class="list-unstyled">
      
            <li>Aksüt</li>
            <li>Ünver</li>
            <li>Çevik</li>
          </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
          <h6>Numara</h6>
          <ul class="list-unstyled">
            <li>313979</li>
            <li>333333</li>
            <li>333333</li>
          </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
          <h6>Öğrenim</h6>
          <ul class="list-unstyled">
            <li>1.öğretim</li>
            <li>1.öğretim</li>
            <li>1.öğretim</li>
          </ul>
        
      </div>
    </div>
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">Veritabanı Yönetim Sistemleri 2017-2018 Dönem Ödevi - Yrd.Doç.Dr.Güzin Ulutaş</p>
        </div>
      </div>
    </div>
  </div>
</footer>
  
  </body>
  
  </html>