{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block session %}
{% if request.user.is_authenticated %}
<li class="navbar-right nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">{{request.user}}</a>

    <div class="dropdown-menu ">
        <a class="dropdown-item" href="/newquestion">Yeni Soru</a>
        <a class="dropdown-item" href="/profil/{{request.user.id}}">Profil</a>
        <a class="dropdown-item" href="/logout">Sistemden Çıkış</a>
    </div>
</li>

{% else %}
<a class="navbar-brand" href="/new-account">Üye Ol</a>
<a class="navbar-brand" href="/login">Üye Girişi</a>
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="card" >

        <div class="card-header ">
        <h2>{{question.title}}</h2>
        </div>
        
        <div class="card-block">

            <div class="media">
			<img class="image" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" height="60" width="60">
						<div class="row">
						<div class="col-md-12">
						
						<b>Username </b>{{question.user_id}}</p>
						 <p class=text-muted small>
                            <span>Puan {{question.user_id|calculate_score}}</span></p>
						
						</div>
						</div>

			</div>
            <div class="media-body">
			
          
                    <p>Etiketler: 
                            {% for j in question.tags.all %}
                            {{j}},
                        {% endfor %}
                    </p>
                    {% if request.user.is_authenticated %}    
                    <span class="float-right">{{up}} <a href="/qud/1/{{question.id}}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>{{down}} <a href="/qud/0/{{question.id}}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>  </span></p>
                    <a href="/newanswer/{{question.id}}/0" class="btn btn-info btn-sm" role="button"><i class="fa fa-share-square" aria-hidden="true"></i>Cevapla</a>
                    {% else %}
                    <span class="float-right">{{up}} <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{down}} <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>  </span></p>                    
                    {% endif %}

                    {% for ans, sub_ans in ans_list.items %}
                    <div class="card">
                        <div class="media">
						<img class="image" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" height="60" width="60">
						<div class="row">
						<div class="col-md-12">
						<p>{{ans.user_id}}</p>
						 <p class=text-muted small>
                            <span>Puan {{ans.user_id|calculate_score}}</span></p>
						</div>
						</div>
                        </div>
						
			
                        <div class="media-body">
						
						 <div class="question-answer"><p>{{ans|safe}}</p></div>
						                    
                           
                           
                           
                            {% if request.user.is_authenticated %}            
                            <span class="float-right">{{ans|updown_ans:1}} <a href="/aud/1/{{ans.id}}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>{{ans|updown_ans:0}} <a href="/aud/0/{{ans.id}}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a> </span></p>
                            <a href="/newanswer/{{question.id}}/{{ans.id}}"  class="btn btn-info btn-sm" role="button"><i class="fa fa-share-square" aria-hidden="true"></i>Cevapla</a>
                            {%else%}
                            <span class="float-right">{{ans|updown_ans:1}} <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{ans|updown_ans:0}}<i class="fa fa-thumbs-o-down" aria-hidden="true"></i> </span></p>
                            {%endif%}
                            
                            {% for j in sub_ans %}
                           
                                <div class="media">
								<img class="image" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" height="60" width="60">
								<div class="row">
								<div class="col-md-12">
								<p>{{j.subanswer_id.user_id}}</p>
								<p class=text-muted small>
								<span>Puan {{j.subanswer_id.user_id|calculate_score}}</span></p>
								</div>
								</div>
		                         
								</div>

                                <div class="media-body">	

                              <div class="question-answer"><p>{{j|safe}}</p></div>
                                
								{% if request.user.is_authenticated %}            
                            <span class="float-right">{{j.subanswer_id|updown_ans:1}} <a href="/aud/1/{{j.subanswer_id.id}}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></i></a>{{j.subanswer_id|updown_ans:0}} <a href="/aud/0/{{j.subanswer_id.id}}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a> </span></p>
                            {%endif%}
                    
                                </div>
                            
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
                   
    </div>
		
</div>

{% endblock %}
