{% load filters %}

<h4>{{question.user_id}}</h4>
<p>{{question.title}}</p>
<p>{{up}} Adet up, {{down}} adet down var</p>
<a href="/qud/1/{{question.id}}">Up</a>
<a href="/qud/0/{{question.id}}">Down</a>

<h4>Cevaplar</h4>
<ul>
{% for ans, sub_ans in ans_list.items %}
    <li><b>{{ans|safe}} {{ans.user_id}} </b></li>
    <p>{{ans|updown_ans:1}} Adet up, {{ans|updown_ans:0}} adet down var</p>
    <a href="/aud/1/{{ans.id}}">Up</a>
    <a href="/aud/0/{{ans.id}}">Down</a>
    {% if request.user.is_authenticated %}    
    <a href="/newanswer/{{question.id}}/{{ans.id}}">Cevapla</a>
    {% endif %}
    {% for j in sub_ans %}
        <li>{{j|safe}} <b>{{j.subanswer_id.user_id}}</b></li>
    {% endfor %}
    <br><br>
{% endfor %}
</ul>

<a href="/newanswer/{{question.id}}/0">Cevapla</a>